<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Starts -->
    <title>RestoMantap</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RestoMantap adalah website yang memberikan informasi mengenai berbagai macam restoran yang mantap">
    <meta name="author" content="Bryan Yehuda Mannuel">
    <meta name="theme-color" content="#D83A56" />
    <!-- Meta Ends -->

    <!-- Link Starts -->
    <link rel="icon" href="./images/logo/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/logo/logo.png">
    <link rel="shortcut icon" href="./images/logo/logo.png">
    <link rel="shortcut icon" href="./images/logo/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- Link Ends -->
</head>

<body>

    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <!-- Header Starts -->
    <header>
        <button id="menu" class="off-canvas" href="#" aria-label="Side Navigation">☰</button>
        <nav id="drawer" class="nav">
            <div id="wrapperid" class="wrapper">
                <div><img src="./images/logo/logocropped.png" alt="Logo RestoMantap" class="logo-image"></div>
                <div></div>
                <div class="nav-link"><a href="#/home">Home</a></div>
                <div class="nav-link"><a href="#/favorite">Favorite</a></div>
                <div class="nav-link"><a href="https://github.com/BryanYehuda">About Us</a></div>
            </div>
        </nav>
        <div class="hero-text-box">
            <h1>RestoMantap <br>Pastinya Mantap!</h1>
            <a class="btn btn-full" href="#headline">Cari Restoran Sekarang!</a>
            <a class="btn btn-ghost" href="#/favorite">Restoran Favorit</a>
        </div>
        <div class="hero">
            <picture>
                <source media="(max-width: 600px)" srcset="./images/heros/hero-small.jpg" type="image/jpeg" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
                <source media="(max-width: 1000px)" srcset="./images/heros/hero-large.jpg" type="image/jpeg" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
                <img src="./images/heros/hero.jpg" alt="Hero Image" style="width: 100vw; height: 700px;object-fit: cover;object-position: center;">
            </picture>
        </div>
    </header>
    <!-- Header Ends -->

    <!-- Content Starts -->
    <main id="mainContent"></main>
    <!-- Content Ends -->

    <!-- Footer Starts -->
    <footer>
        <p>© 2021 Bryan Yehuda Mannuel - RestoMantap</p>
    </footer>
    <!-- Footer Ends -->

</body>

</html>