/***************************
BASE CONFIGURATION
***************************/

* {
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/heros/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

html,
body {
    background-color: #fff;
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 19px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

footer {
    padding: 20px;
    color: white;
    background-color: #FF616D;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

h3 {
    font-size: 28px;
    text-align: center;
}


/***************************
NAVBAR
***************************/

nav {
    background-color: #FF616D;
    padding: 15px;
    position: sticky;
    top: 0;
    min-height: 60px;
    overflow: hidden;
    text-align: right;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav a:hover {
    font-weight: bold;
    transition: font-weight 0.2s;
}

.wrapper {
    display: grid;
    list-style-type: none;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
}

.hero-text-box {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7fff7;
}

.logo-image {
    display: inline-block;
    height: 45px;
    width: auto;
    left: 0%;
}

.nav-link {
    margin-top: 13px;
}


/***************************
DRAWER
***************************/

.off-canvas {
    margin: 10px auto;
    display: block;
    width: 45px;
    height: 45px;
    text-decoration: none;
}

#menu {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    position: absolute;
    transform: translate(15px, 0);
}


/***************************
CONTENT
***************************/

.headline {
    margin-bottom: 40px;
}

.content {
    margin: 32px auto auto;
    text-align: left;
}

.content-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.content-thumbnail {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
}

.content-rating {
    margin-top: 5px;
    display: inline;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
}

.content-location {
    display: block;
    font-size: 19px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}

.content-title {
    font-weight: 400;
    font-size: 25px;
    margin-top: -7px;
    transition: 0.3s opacity;
}

.content-title:hover {
    color: #D83A56;
    transition: color 0.2s;
}

.content-title a {
    text-decoration: none;
    color: inherit;
}

.content-description {
    margin-top: -16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
}

.content-title-detail {
    font-weight: 400;
    font-size: 25px;
    margin-top: -7px;
    transition: 0.3s opacity;
}

.content-title-detail:hover {
    color: #D83A56;
    transition: color 0.2s;
}

.content-title-detail a {
    text-decoration: none;
    color: inherit;
}

.content-thumbnail-detail {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.content-rating-detail {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    text-align: center;
}

.content-location-detail {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}

.content-address-detail {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}

.content-category-detail {
    display: block;
    font-size: 17px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-top: 5px;
}


/***************************
SKIP TO CONTENT
***************************/

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #66DE93;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}


/***************************
BUTTON
***************************/

.btn:link,
.btn:visited,
input[type=submit] {
    font-size: 17px;
    display: inline-block;
    padding: 20px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s;
    color: 0.2s;
    border: 0.2s;
    text-align: center;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #FF616D;
    border: 1px solid #FF616D;
    color: #fff;
    margin-right: 15px;
    text-align: center;
}

.btn-detail-full:link,
.btn-detail-full:visited,
input[type=submit] {
    background-color: #FF616D;
    border: 1px solid #FF616D;
    color: #fff;
    margin-right: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #FF616D;
    color: #FF616D;
    text-align: center;
    margin-top: 20px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #D83A56;
    transition: background-color 0.2s;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #D83A56;
    transition: border 0.2s;
}

.btn-detail-full:hover,
.btn-detail-full:active {
    border: 1px solid #D83A56;
    transition: border 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #D83A56;
    color: #fff;
    transition: all 0.2s;
}


/***************************
LIKE
***************************/

.like {
    font-size: 35px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #db0000;
    color: white;
    border: 0;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/***************************
LOADER
***************************/

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}